@tailwind base;
@tailwind components;
@tailwind utilities;

    @layer base {
      @font-face {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
          src: url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
}
}